extends layout

block content
      .jumbotron
        .container
              h1 How may I help you
              p Lorem ipsum dolor sit amet, harum aliquando conceptam ea usu, at vim summo maiestatis, postulant conclusionemque in sea. Numquam dissentias cum ex, ei quo praesent consequat referrentur. Illum persius delectus nam in, tota rebum ignota vel et. Populo fabellas disputationi eum id, mei id ridens audiam adolescens. Dicit blandit id his. Perpetua constituam vix et, vim in commodo vidisse.
              a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
      .container
          .row
              .col-md-4
                  h2 About us
                  p Lorem ipsum dolor sit amet, harum aliquando conceptam ea usu, at vim summo maiestatis, postulant conclusionemque in sea. Numquam dissentias cum ex, ei quo praesent consequat referrentur. Illum persius delectus nam in, tota rebum ignota vel et. Populo fabellas disputationi eum id, mei id ridens audiam adolescens. Dicit blandit id his. Perpetua constituam vix et, vim in commodo vidisse.
                  a.btn.btn-default(href='#') View Details
              .col-md-4
                  h2 Services
                  p Lorem ipsum dolor sit amet, harum aliquando conceptam ea usu, at vim summo maiestatis, postulant conclusionemque in sea. Numquam dissentias cum ex, ei quo praesent consequat referrentur. Illum persius delectus nam in, tota rebum ignota vel et. Populo fabellas disputationi eum id, mei id ridens audiam adolescens. Dicit blandit id his. Perpetua constituam vix et, vim in commodo vidisse.
                  a.btn.btn-default(href='#') View Details
              .col-md-4
                  h2 Get in touch
                  p Lorem ipsum dolor sit amet, harum aliquando conceptam ea usu, at vim summo maiestatis, postulant conclusionemque in sea. Numquam dissentias cum ex, ei quo praesent consequat referrentur. Illum persius delectus nam in, tota rebum ignota vel et. Populo fabellas disputationi eum id, mei id ridens audiam adolescens. Dicit blandit id his. Perpetua constituam vix et, vim in commodo vidisse.
                  a.btn.btn-default(href='#') View Details
